@model RCAR.Models.MemberVM.MemberDetailVM


<div class="col-md-12 grid-margin grid-margin-md-0">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Strona główna</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Service" asp-action="Index">Lista serwisów</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Szczegóły członka</li>
                </ol>
            </nav><br /><br />
            <a class="btn btn-xs btn-outline-success float-md-right" href="/Car/Create/@Model.MemberId"> Nowy samochód</a>
            <a class="btn btn-xs btn-outline-success float-md-right" href="/Member/Edit/@Model.MemberId"> Edytuj</a>
            <a class="btn btn-xs btn-outline-success float-md-right" href="/Member/Index/@Model.MemberId"> Wróć</a>
            <div class="row">
                <div class="col-lg-6 mb-5 ml-5"><h3><b>Szczegóły członka</b></h3></div>
                <div class="col-lg-2 mb-5 ml-5"><h3><b>Płatności</b></h3></div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-5">
                    <p class="font-weight-normal"><b>Numer: </b>@Model.MemberNo</p>
                    <p class="font-weight-normal"><b>Imię i nazwisko: </b>@Model.FullName</p>
                    <p class="font-weight-normal"><b>Data przyjęcia: </b>@Model.DateJoined.ToString("dd/MM/yyyy")</p>
                    <p class="font-weight-normal"><b>Data zakończenia: </b>@Model.DateLeaves.ToString("dd/MM/yyyy")</p>
                    <p class="font-weight-normal"><b>Adres: </b>@Model.Address</p>
                    <p class="font-weight-normal"><b>Miasto: </b>@Model.City</p>
                    <p class="font-weight-normal"><b>Kod pocztowy: </b>@Model.PostCode</p>
                    <p class="font-weight-normal"><b>Status: </b>@Model.Status</p>
                    <p class="font-weight-normal"><b>Telefon:  </b>@Model.Phone</p>
                    <p class="font-weight-normal"><b>Email:  </b>@Model.Email</p>
                </div>
                <div class="col-lg-4">
                    <table class="table table-striped">
                        <thead class="text-info">
                            <tr>
                                <th>Marka</th>
                                <th>Model</th>
                                <th>Opis</th>
                                <th>Ostatni serwis od</th>
                                <th>Ostatni serwis do</th>
                                <th>Status</th>
                                <th class="text-warning">Akcje</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Cars)
                            {
                            <tr>
                                <td>@Html.DisplayFor(m => item.Brand)</td>
                                <td>@Html.DisplayFor(m => item.Model)</td>
                                <td>@Html.DisplayFor(m => item.Description)</td>
                                <td>@Html.DisplayFor(m => item.ServiceSince)</td>
                                <td>@Html.DisplayFor(m => item.ServiceTo)</td>
                                <td>@Html.DisplayFor(m => item.Status)</td>
                                <td>
                                    <div class="dropdown btn-block pull-right">
                                        <button class="btn btn-xs btn-primary btn-block" data-toggle="dropdown">
                                            Opcje
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Zakończ", "Done", "Car", new { id = item.CarId})</li>
                                            <li>@Html.ActionLink("Usuń", "Delete", "Car", new { id = item.CarId }, new { onclick = "return confirm('Czy napewno chcesz usunąc ten samochód?');" })</li>
                                        </ul>
                                    </div>

                                </td>
                            </tr>
                            }
                        </tbody>
                    </table><br />
                </div>
            </div>

        </div>
    </div>
</div>

