@model RCAR.Models.MemberVM.MemberIndexVM


@{ ViewBag.Title = "Member";}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Strona główna</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Lista członków</li>
                    </ol>
                </nav><br /><br />
                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        <button type="button" id="openModal" class="btn btn-xs btn-outline-success float-md-right" data-toggle="modal" data-target="#exampleModalCenter">
                            Nowy członek
                        </button>
                        <a class="btn btn-xs btn-outline-success float-md-right" asp-controller="Member" asp-action="Removed">Członkowie nieaktywni</a>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Numer</th>
                                    <th>Imię</th>
                                    <th>Nazwisko</th>
                                    <th>Data przyjęcia</th>
                                    <th>Telefon</th>
                                    <th>Status</th>
                                    <th class="text-warning">Akcje</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Members)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Detail" asp-route-id="@item.MemberId">@item.MemberNo</a>
                                        </td>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.DateJoined.ToString("dd/MM/yyyy")</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Status</td>
                                        <td>
                                            <div class="dropdown btn-block pull-right">
                                                <button class="btn btn-xs btn-primary btn-block" data-toggle="dropdown">
                                                    Opcje
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>@Html.ActionLink("Edytuj", "Edit", new { id = item.MemberId })</li>
                                                    <li>@Html.ActionLink("Szczegóły", "Detail", new { id = item.MemberId })</li>
                                                    <li>@Html.ActionLink("Zakończ", "Delete", new { id = item.MemberId }, new { onclick = "return confirm('Czy na pewno chcesz usunąć?');" })</li>
                                                </ul>
                                            </div>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table><br />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<body onload="OpenModalWithValidation()">
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle"><b>Nowy członek</b></h3>
                    <button type="button" onclick="ClearModal()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Create", "Member", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="form-group col-sm-4">
                                @Html.LabelFor(m => m.MemberCreateVM.MemberNo)
                                @Html.EditorFor(m => m.MemberCreateVM.MemberNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Numer", id = "numberInput", maxlength = "4" } })
                                @Html.ValidationMessageFor(m => m.MemberCreateVM.MemberNo, "", new { @class = "field-validation text-danger" })
                            </div>
                            <div class="form-group col-sm-4">
                                @Html.LabelFor(m => m.MemberCreateVM.FirstName)
                                @Html.EditorFor(m => m.MemberCreateVM.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "Imię" } })
                                @Html.ValidationMessageFor(m => m.MemberCreateVM.FirstName, "", new { @class = "field-validation text-danger" })
                            </div>
                            <div class="form-group col-sm-4">
                                @Html.LabelFor(m => m.MemberCreateVM.LastName)
                                @Html.EditorFor(m => m.MemberCreateVM.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Nazwisko" } })
                                @Html.ValidationMessageFor(m => m.MemberCreateVM.LastName, "", new { @class = "field-validation text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                @Html.LabelFor(m => m.MemberCreateVM.Address)
                                @Html.EditorFor(m => m.MemberCreateVM.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Adres" } })
                                @Html.ValidationMessageFor(m => m.MemberCreateVM.Address, "", new { @class = "field-validation text-danger" })
                            </div>
                            <div class="form-group col-sm-4">
                                @Html.LabelFor(m => m.MemberCreateVM.City)
                                @Html.EditorFor(m => m.MemberCreateVM.City, new { htmlAttributes = new { @class = "form-control", placeholder = "Miasto" } })
                                @Html.ValidationMessageFor(m => m.MemberCreateVM.City, "", new { @class = "field-validation text-danger" })
                            </div>
                            <div class="form-group col-sm-4">
                                @Html.LabelFor(m => m.MemberCreateVM.PostCode)
                                @Html.EditorFor(m => m.MemberCreateVM.PostCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Kod pocztowy" } })
                                @Html.ValidationMessageFor(m => m.MemberCreateVM.PostCode, "", new { @class = "field-validation text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                @Html.LabelFor(m => m.MemberCreateVM.DateJoined)
                                @Html.EditorFor(m => m.MemberCreateVM.DateJoined, new { htmlAttributes = new { @class = "form-control", placeholder = "Data przyjęcia" } })
                                @Html.ValidationMessageFor(m => m.MemberCreateVM.DateJoined, "", new { @class = "field-validation text-danger" })
                            </div>
                            <div class="form-group col-sm-4">
                                @Html.LabelFor(m => m.MemberCreateVM.Phone)
                                @Html.EditorFor(m => m.MemberCreateVM.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Telefon", id = "numberInput", maxlength = "9" } })
                                @Html.ValidationMessageFor(m => m.MemberCreateVM.Phone, "", new { @class = "field-validation text-danger" })
                            </div>
                            <div class="form-group col-sm-4">
                                @Html.LabelFor(m => m.MemberCreateVM.Email)
                                @Html.EditorFor(m => m.MemberCreateVM.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                                @Html.ValidationMessageFor(m => m.MemberCreateVM.Email, "", new { @class = "field-validation text-danger" })
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" href="/Service/Index">
                                <span class="fa fa-floppy-o text-light"></span>
                                Zapisz
                            </button>
                        </div>
                        <div class="form-group">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        <script src="~/js/datatables-filters-classic.js"></script>
        <script src="~/js/member-service.js"></script>
    }
</body>
