@model RCAR.Models.MemberVM.MemberIndexVM


@{ ViewBag.Title = "Member";}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Strona główna</a></li>
                        <li class="breadcrumb-item"><a asp-controller="Member" asp-action="Index">Lista członków</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Historia członków</li>
                    </ol>
                </nav><br /><br />
                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        <a class="btn btn-xs btn-outline-success float-md-right" asp-controller="Member" asp-action="Index"> Wróć do dostepnej listy członków</a>
                        <br />
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Numer</th>
                                    <th>Imię</th>
                                    <th>Nazwisko</th>
                                    <th>Data przyjęcia</th>
                                    <th>Telefon</th>
                                    <th>Status</th>
                                    <th class="text-warning">Akcje</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Members)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Detail" asp-route-id="@item.MemberId">@item.MemberNo</a>
                                        </td>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.DateJoined.ToString("dd/MM/yyyy")</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Status</td>
                                        <td>
                                            <a class="text-danger" asp-action="BackToDraft" asp-route-id="@item.MemberId">
                                                <i class="fas fa-undo-alt"></i>Cofnij
                                            </a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table><br />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



