@model RCAR.Models.MemberVM.MemberIndexVM


@{ ViewBag.Title = "Member";}

<div class="main-container">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Strona główna</a></li>
                        <li class="breadcrumb-item"><a asp-controller="Member" asp-action="Index">Lista członków</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Historia członków</li>
                    </ol>
                </nav><br /><br />
                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        <a class="btn btn-xs btn-secondary float-md-right m-md-1" asp-controller="Member" asp-action="Index"> Wróć do dostepnej listy członków</a>
                        <br />
                        <table class="table table-striped" id="myTable">
                            <thead class="thead-dark">
                                <tr>
                                    <th>@Html.DisplayNameFor(m => m.Members.FirstOrDefault().MemberNo)</th>
                                    <th>@Html.DisplayNameFor(m => m.Members.FirstOrDefault().FirstName)</th>
                                    <th>@Html.DisplayNameFor(m => m.Members.FirstOrDefault().LastName)</th>
                                    <th>@Html.DisplayNameFor(m => m.Members.FirstOrDefault().DateJoined)</th>
                                    <th>@Html.DisplayNameFor(m => m.Members.FirstOrDefault().Phone)</th>
                                    <th>@Html.DisplayNameFor(m => m.Members.FirstOrDefault().Status)</th>
                                    <th class="text-warning">Akcje</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Members)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Detail" asp-route-id="@item.MemberId">@item.MemberNo</a>
                                        </td>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.DateJoined.ToString("dd/MM/yyyy")</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Status</td>
                                        <td>
                                            <a class="btn btn-danger" asp-action="BackToDraft" asp-route-id="@item.MemberId">
                                                <i class="fas fa-undo-alt"></i>Cofnij
                                            </a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table><br />

                    </div>
                </div>
            </div>
        </div>
</div>


@section scripts{ 
    <script src="~/js/members/datatables-removed.js"></script>
}
