@model RCAR.Models.ServiceVM.ServiceDetailVM


<div class="main-container">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Strona główna</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Service" asp-action="Index">Lista serwisów</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Szczegóły serwisu</li>
                </ol>
            </nav><br /><br />
            <a class="btn btn-xs btn-warning float-md-right" href="/PaymentRecord/Create/@Model.ServiceId"> Nowa płatność</a>
            <a class="btn btn-xs btn-secondary float-md-right mr-1" href="/Service/Edit/@Model.ServiceId"> Edytuj</a>
            <a class="btn btn-xs btn-secondary float-md-right mr-1" href="/Service/Index/@Model.ServiceId"> Wróć</a>
            <div class="row">
                <div class="col-lg-4 ml-5">
                    <div class="col-lg-10 mb-5">
                        <h3><b>Szczegóły serwisu</b></h3>

                    </div>
                    <p class="font-weight-normal"><b>@Html.DisplayNameFor(m => m.FullName): </b>@Model.FullName</p>
                    <p class="font-weight-normal"><b>@Html.DisplayNameFor(m => m.ServiceSince): </b>@Model.ServiceSince.ToString("dd/MM/yyyy")</p>
                    <p class="font-weight-normal"><b>@Html.DisplayNameFor(m => m.ServiceTo): </b>@Model.ServiceTo.ToString("dd/MM/yyyy")</p>
                    <p class="font-weight-normal"><b>@Html.DisplayNameFor(m => m.Brand): </b>@Model.Brand</p>
                    <p class="font-weight-normal"><b>@Html.DisplayNameFor(m => m.Model): </b>@Model.Model</p>
                    <p class="font-weight-normal"><b>@Html.DisplayNameFor(m => m.Description): </b>@Model.Description</p>
                    <p class="font-weight-normal"><b>@Html.DisplayNameFor(m => m.Status): </b>@Model.Status</p>
                    <p class="font-weight-normal"><b>@Html.DisplayNameFor(m => m.Phone):  </b><a href="tel:@Model.Phone">@Model.Phone</a></p>

                    @if (ViewBag.TotalCount != null)
                    {
                        <p class="font-weight-normal"><b>Ilość płatności: </b>@ViewBag.TotalCount</p>
                    }
                    else
                    {
                        <p class="font-weight-normal"><b>Ilość płatności: </b>Brak</p>
                    }
                </div>
                <div class="col-lg-7">
                    <div class="text-center mb-5"><h3><b>Płatności</b></h3></div>
                    <table class="table table-striped table-responsive">

                        <thead class="text-info bg-dark">
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.PaymentRecords.FirstOrDefault().Name)</th>
                                <th>@Html.DisplayNameFor(m => m.PaymentRecords.FirstOrDefault().Description)</th>
                                <th>@Html.DisplayNameFor(m => m.PaymentRecords.FirstOrDefault().NetAmount)</th>
                                <th>@Html.DisplayNameFor(m => m.PaymentRecords.FirstOrDefault().Discount)</th>
                                <th>@Html.DisplayNameFor(m => m.PaymentRecords.FirstOrDefault().Status)</th>
                                <th>@Html.DisplayNameFor(m => m.PaymentRecords.FirstOrDefault().TotalAmount)</th>
                                <th class="text-warning">Akcje</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PaymentRecords)
                            {

                                <tr id="row_@item.PaymentRecordId">
                                    <td>@Html.DisplayFor(m => item.Name)</td>
                                    <td>@Html.DisplayFor(m => item.Description)</td>
                                    <td>@Html.DisplayFor(m => item.NetAmount)</td>
                                    <td>@Html.DisplayFor(m => item.Discount)</td>
                                    <td>@Html.DisplayFor(m => item.TotalAmount)</td>
                                    <td>@Html.DisplayFor(m => item.Status)</td>
                                    <td>
                                        <div class="dropdown btn-block pull-right">
                                            <button class="btn btn-xs btn-danger btn-block dropdown-toggle" data-toggle="dropdown">
                                                Opcje
                                            </button>
                                            <ul class="dropdown-menu bg-dark">
                                                <li>@Html.ActionLink("Zapłacone", "Paid", "PaymentRecord", new { id = item.PaymentRecordId }, new { @style = "color:#fff" })</li>
                                                <li><a href="#" class="text-white" id="@item.PaymentRecordId" onclick="RemoveFromTable(this.id)">Usuń</a></li>
                                            </ul>
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table><br />
                            <div id="totalPayment">
                                @if (ViewBag.TotalCount != null)
                                {
                                    <p class=""><b>Łączna kwota brutto: </b>@ViewBag.TotalInvoiceAmount</p>
                                    <p class="font-weight-normal"> <a class="btn btn-xs btn-warning" href="/Service/DownloadInvoice/@Model.ServiceId">Pobierz Fakturę</a></p>
                                }
                                else
                                {
                                    <p class="font-weight-normal"><b>Łączna kwota brutto: </b>0</p>
                                }
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/js/delete-payment.js"></script>
}