@model RCAR.Models.ServiceVM.ServiceDetailVM


<div class="col-md-12 grid-margin grid-margin-md-0">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Strona główna</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Service" asp-action="Index">Lista serwisów</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Szczegóły serwisu</li>
                </ol>
            </nav><br /><br />
            <a class="btn btn-xs btn-outline-success float-md-right" href="/Service/Edit/@Model.ServiceId"> Edytuj</a>
            <a class="btn btn-xs btn-outline-success float-md-right" href="/Service/Index/@Model.ServiceId"> Wróć</a>
            <div class="wrap d-flex justify-content-start justify-content-sm-center flex-wrap">
                <div class="wrap align-items-center ml-5">
                    <p class="font-weight-bold text-success" style="font-size:20px">Numer serwisu: @Model.ServiceNo</p>
                    <hr style="background-color:crimson" />
                    <p class="font-weight-normal"><b>Imię i nazwisko: </b>@Model.FullName</p>
                    <p class="font-weight-normal"><b>Data przyjęcia: </b>@Model.ServiceSince.ToString("dd/MM/yyyy")</p>
                    <p class="font-weight-normal"><b>Data zakończenia: </b>@Model.ServiceTo.ToString("dd/MM/yyyy")</p>
                    <br /><br />
                    <p class="font-weight-bold text-success">Samochód</p>
                    <hr style="background-color:crimson" />
                    <p class="font-weight-normal"><b>Marka: </b>@Model.Brand</p>
                    <p class="font-weight-normal"><b>Model: </b>@Model.Model</p>
                    <br /><br />
                    <p class="font-weight-bold text-success">Opis naprawy</p>
                    <hr style="background-color:crimson" />
                    <p class="font-weight-normal"><b>Opis: </b>@Model.Description</p>
                    <p class="font-weight-normal"><b>Status: </b>@Model.Status</p>
                    <br /><br />
                    <p class="font-weight-bold text-success">Dane kontaktowe</p>
                    <hr style="background-color:crimson" />
                    <p class="font-weight-normal"><b>Telefon:  </b><a href="tel:@Model.Phone">@Model.Phone</a></p>
                    <br /><br />
                </div>

            </div>

        </div>
    </div>
</div>

