@model RCAR.Models.ServiceVM.ServiceIndexVM


@{ ViewBag.Title = "Service";}


<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link href="~/css/service-index.css" rel="stylesheet" />
    <script src="~/js/delete-service.js"></script>
    <script src="~/js/add-service.js"></script>
</head>

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Strona główna</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Lista Serwisów</li>
                    </ol>
                </nav><br /><br />
                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        <input type="button" value="Nowy serwis" id="btnOpen" class="btn btn-xs btn-outline-success float-md-right" />

                        <a class="btn btn-xs btn-outline-success float-md-right" asp-controller="Service" asp-action="Removed">Historia</a>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Numer</th>
                                    <th>Imie i Nazwisko</th>
                                    <th>Marka samochodu</th>
                                    <th>Model samochodu</th>
                                    <th>Telefon</th>
                                    <th>Data przyjecia</th>
                                    <th>Data zakończenia</th>
                                    <th>Opis</th>
                                    <th>Status</th>
                                    <th class="text-warning">Akcje</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Services)
                                {
                                    <tr id="row_@item.ServiceId">
                                        <td>
                                            <a asp-action="Detail" asp-route-id="@item.ServiceId">@item.ServiceNo</a>
                                        </td>
                                        <td>@item.FullName</td>
                                        <td>@item.Brand</td>
                                        <td>@item.Model</td>
                                        <td>@item.Phone</td>
                                        <td>@item.ServiceSince.ToString("dd/MM/yyyy")</td>
                                        <td>@item.ServiceTo.ToString("dd/MM/yyyy")</td>
                                        <td>@item.Description</td>
                                        <td>@item.Status</td>
                                        <td>
                                            <div class="dropdown btn-block pull-right">
                                                <button class="btn btn-xs btn-primary btn-block" data-toggle="dropdown">
                                                    Opcje
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>@Html.ActionLink("Edytuj", "Edit", new { id = item.ServiceId })</li>
                                                    <li>@Html.ActionLink("Szczegóły", "Detail", new { id = item.ServiceId })</li>
                                                    <li><a href="#" id="@item.ServiceId" onclick="RemoveFromTable(this.id)">Usuń</a></li>
                                                    <li>@Html.ActionLink("Nowa płatność", "Create", "PaymentRecord", new { id = item.ServiceId })</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table><br />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<body onload="OpenModalWithValidation()">
    <!-- Modal -->


    <div class="modal fade" id="myModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg mt-0" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle"><b>Nowy serwis</b></h3>
                    <button type="button" onclick="ClearModal()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="myform">
                    <div class="modal-body">
                        @using (Html.BeginForm("Create", "Service", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    @Html.LabelFor(m => m.ServiceCreateVM.ServiceNo)
                                    @Html.EditorFor(m => m.ServiceCreateVM.ServiceNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Numer", id = "numberInput", maxlength = "4" } })
                                    @Html.ValidationMessageFor(m => m.ServiceCreateVM.ServiceNo, "", new { @class = "field-validation text-danger" })
                                </div>
                                <div class="form-group col-sm-3">
                                    @Html.LabelFor(m => m.ServiceCreateVM.FirstName)
                                    @Html.EditorFor(m => m.ServiceCreateVM.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "Imię" } })
                                    @Html.ValidationMessageFor(m => m.ServiceCreateVM.FirstName, "", new { @class = "field-validation text-danger" })
                                </div>
                                <div class="form-group col-sm-3">
                                    @Html.LabelFor(m => m.ServiceCreateVM.LastName)
                                    @Html.EditorFor(m => m.ServiceCreateVM.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Nazwisko" } })
                                    @Html.ValidationMessageFor(m => m.ServiceCreateVM.LastName, "", new { @class = "field-validation text-danger" })
                                </div>
                                <div class="form-group col-sm-3">
                                    @Html.LabelFor(m => m.ServiceCreateVM.Phone)
                                    @Html.EditorFor(m => m.ServiceCreateVM.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Telefon", id = "numberInput", maxlength = "9" } })
                                    @Html.ValidationMessageFor(m => m.ServiceCreateVM.Phone, "", new { @class = "field-validation text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-3">
                                    @Html.LabelFor(m => m.ServiceCreateVM.ServiceSince)
                                    @Html.EditorFor(m => m.ServiceCreateVM.ServiceSince, new { htmlAttributes = new { @class = "form-control", placeholder = "Data przyjęcia" } })
                                    @Html.ValidationMessageFor(m => m.ServiceCreateVM.ServiceSince, "", new { @class = "field-validation text-danger" })
                                </div>
                                <div class="form-group col-sm-3">
                                    @Html.LabelFor(m => m.ServiceCreateVM.ServiceTo)
                                    @Html.EditorFor(m => m.ServiceCreateVM.ServiceTo, new { htmlAttributes = new { @class = "form-control", placeholder = "Data zakończenia" } })
                                    @Html.ValidationMessageFor(m => m.ServiceCreateVM.ServiceTo, "", new { @class = "field-validation text-danger" })
                                </div>
                                <div class="form-group col-sm-3">
                                    @Html.LabelFor(m => m.ServiceCreateVM.Brand)
                                    @Html.EditorFor(m => m.ServiceCreateVM.Brand, new { htmlAttributes = new { @class = "form-control", placeholder = "Marka samochodu" } })
                                    @Html.ValidationMessageFor(m => m.ServiceCreateVM.Brand, "", new { @class = "field-validation text-danger" })
                                </div>
                                <div class="form-group col-sm-3">
                                    @Html.LabelFor(m => m.ServiceCreateVM.Model)
                                    @Html.EditorFor(m => m.ServiceCreateVM.Model, new { htmlAttributes = new { @class = "form-control", placeholder = "Model" } })
                                    @Html.ValidationMessageFor(m => m.ServiceCreateVM.Model, "", new { @class = "field-validation text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    @Html.LabelFor(m => m.ServiceCreateVM.Description)
                                    @Html.EditorFor(m => m.ServiceCreateVM.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Opis" } })
                                    @Html.ValidationMessageFor(m => m.ServiceCreateVM.Description, "", new { @class = "field-validation text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    @{
                                        List<SelectListItem> listItems = new List<SelectListItem>();
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "Przyjęty",
                                            Value = "Przyjęty"
                                        });
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "Rozpoczęty",
                                            Value = "Rozpoczęty",
                                        });
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "Zakończony",
                                            Value = "Zakończony"
                                        });
                                    }
                                    @Html.DropDownListFor(m => m.ServiceCreateVM.Status, listItems, "Status:*", new { @class = "form-control" })<br />
                                    @Html.ValidationMessageFor(m => m.ServiceCreateVM.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="modal-footer">
                                <input type="button" value="Dodaj" id="addService" class="btn btn-primary"/>
                            </div>
                            <div class="form-group">
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            </div>
                        }
                    </div>
                </form>

            </div>
        </div>
    </div>

</body>

