@model RCAR.Models.ServiceVM.ServiceIndexVM


@{ ViewBag.Title = "Service";}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Strona główna</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Lista Serwisów</li>
                    </ol>
                </nav><br /><br />
                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        <a class="btn btn-xs btn-outline-success float-md-right" asp-controller="Service" asp-action="Create"> Nowy Serwis</a>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Numer</th>
                                    <th>Imie i Nazwisko</th>
                                    <th>Marka samochodu</th>
                                    <th>Model samochodu</th>
                                    <th>Telefon</th>
                                    <th>Data przyjecia</th>
                                    <th>Data zakończenia</th>
                                    <th>Opis</th>
                                    @*<th>Zdjecie</th>*@
                                    <th class="text-warning">Akcje</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Services)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Detail" asp-route-id="@item.ServiceId">@item.ServiceNo</a>
                                        </td>
                                        <td>@item.FullName</td>
                                        <td>@item.Brand</td>
                                        <td>@item.Model</td>
                                        <td>@item.Phone</td>
                                        <td>@item.ServiceSince.ToString("dd/MM/yyyy")</td>
                                        <td>@item.ServiceTo.ToString("dd/MM/yyyy")</td>
                                        <td>@item.Description</td>
                                        @*<td>
                                                <img alt="image" src="@Url.Content(item.ImageUrl)" />
                                            </td>*@
                                        <td>
                                            <a class="text-primary" asp-action="Edit" asp-route-id="@item.ServiceId">
                                                <i class="fas fa-edit"></i>Edytuj
                                            </a>
                                            <a class="text-success" asp-action="Detail" asp-route-id="@item.ServiceId">
                                                <i class="fas fa-bars"></i>Szczegóły
                                            </a>
                                            <a class="text-danger" asp-action="Delete" asp-route-id="@item.ServiceId">
                                                <i class="far fa-trash-alt"></i>Usuń
                                            </a>
                                                
                                            
                                                @*@Html.ActionLink("Usuń", "Remove", new { id = item.ServiceId }, new { onclick =                     "return confirm('Czy napewno chcesz usunąc ten seriws?');"})*@

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table><br />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



