@model RCAR.Models.CarVM.CarDetailVM


<div class="main-container">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Strona główna</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Member" asp-action="Index">Lista członków</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Szczegóły samochodu</li>
                </ol>
            </nav><br /><br />
            <a class="btn btn-xs btn-warning float-md-right" href="/PaymentRecord/CreateCar/@Model.CarId"> Nowa płatność</a>
            <a class="btn btn-xs btn-secondary float-md-right mr-1" href="/Member/Index/@Model.CarId"> Wróć</a>
            <div class="row">
                <div class="col-lg-6 mb-5 ml-5"><h3><b>Szczegóły samochodu</b></h3></div>
                <div class="col-lg-2 mb-5 ml-5"><h3><b>Płatności</b></h3></div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-5">
                    <p class="font-weight-normal"><b>Marka: </b>@Model.Brand</p>
                    <p class="font-weight-normal"><b>Model: </b>@Model.Model</p>
                    <p class="font-weight-normal"><b>Data przyjęcia: </b>@Model.ServiceSince.ToString("dd/MM/yyyy")</p>
                    <p class="font-weight-normal"><b>Data zakończenia: </b>@Model.ServiceTo.ToString("dd/MM/yyyy")</p>
                    <p class="font-weight-normal"><b>Opis: </b>@Model.Description</p>
                    <p class="font-weight-normal"><b>Status: </b>@Model.Status</p>
                </div>
                <div class="col-lg-7">
                    <table class="table table-striped table-responsive">

                        <thead class="text-info table-dark">
                            <tr>
                                <th>Numer</th>
                                <th>Opis</th>
                                <th>Kwota netto</th>
                                <th>Rabat</th>
                                <th>Kwota brutto</th>
                                <th>Status</th>
                                <th class="text-warning">Akcje</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PaymentRecords)
                            {

                                <tr id="row_@item.PaymentRecordId">
                                    <td>@Html.DisplayFor(m => item.Name)</td>
                                    <td>@Html.DisplayFor(m => item.Description)</td>
                                    <td>@Html.DisplayFor(m => item.NetAmount)</td>
                                    @*<td>@Html.DisplayFor(m => item.Tax)</td>*@
                                    <td>@Html.DisplayFor(m => item.Discount)</td>
                                    <td>@Html.DisplayFor(m => item.TotalAmount)</td>
                                    <td>@Html.DisplayFor(m => item.Status)</td>
                                    <td>
                                        <div class="dropdown btn-block pull-right">
                                            <button class="btn btn-xs btn-danger btn-block dropdown-toggle" data-toggle="dropdown">
                                                Opcje
                                            </button>
                                            <ul class="dropdown-menu bg-dark">
                                                <li>@Html.ActionLink("Zapłacone", "Paid", "PaymentRecord", new { id = item.PaymentRecordId }, new { @style = "color:#fff" })</li>
                                                <li><a href="#" class="text-white" id="@item.PaymentRecordId" onclick="RemoveFromTable(this.id)">Usuń</a></li>
                                            </ul>
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table><br />
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/delete-payment.js"></script>