@model RCAR.Models.ReportVM.ReportVM

<div class="main-container">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Strona główna</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Report" asp-action="Index">Raporty</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Lista Serwisów</li>
                </ol>
            </nav><br /><br />
            <div class="row">
                <form method="get" id="myFormExcel" asp-controller="Report" asp-action="ExportToExcelAdministratorListService">
                    <select name="exportService" id="exportService">
                        <option selected class="alert-danger">Pobierz excel</option>
                        <option value="Wszystkie">Wszystkie</option>
                        <option value="Rozpoczęty">Rozpoczęty</option>
                        <option value="Zakończony">Zakończony</option>
                        <option value="Cofnięty">Cofnięty</option>
                    </select>
                </form>
                <div class="col-md-12 table-responsive-md">
                    <table class="table table-striped " id="myTable" style="width:100%">
                        <thead class="thead-dark">
                            <tr>
                                <th colspan="7" style="text-align:center" class="bg-info"><h3><b>Informacje o serwisie</b></h3></th>
                                <th colspan="2" style="text-align:center" class="bg-secondary"><h3><b>Suma płatności netto</b></h3></th>
                            </tr>
                            <tr>
                                <th>Numer</th>
                                <th>Imie i Nazwisko</th>
                                <th>Telefon</th>
                                <th>Data przyjecia</th>
                                <th>Data zakończenia</th>
                                <th>Opis</th>
                                <th>Status</th>
                                <th>Suma płatności netto</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ReportAdministrator)
                            {
                                <tr id="row_@item.ServiceId">
                                    <td>@item.ServiceNo</td>
                                    <td>@item.FullName</td>
                                    <td>@item.Phone</td>
                                    <td>@item.ServiceSince.ToString("dd/MM/yyyy")</td>
                                    <td>@item.ServiceTo.ToString("dd/MM/yyyy")</td>
                                    <td>@item.Description</td>
                                    <td>@item.Status</td>
                                    <td>
                                        @if (@item.PaymentNetAmount != null)
                                        {
                                            @item.PaymentNetAmount
                                        }
                                        else
                                        {
                                            <p><b>Brak</b></p>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table><br />

                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/reports/datatables-index.js"></script>
    <script src="~/js/reports/download-excel-service.js"></script>
}